# ZOID_HOME - Path to scanner.pl
export ZOID_HOME=$HOME/zoid

# ZOID_LIBC_PATH - Path to libzoid_cn.a
export ZOID_LIBC_PATH=$HOME/zeptoos/ZeptoOS-1.5-V1R3M2_03/BGL/build/ZeptoOS-1.5-V1R3M2

# Paths to the BGL Compiler Toolchain
export BLRTS_PATH=/bgl/BlueLight/ppcfloor/blrts-gnu/powerpc-bgl-blrts-gnu
export CC_BLRTS=$BLRTS_PATH/bin/gcc
export AR_BLRTS=$BLRTS_PATH/bin/ar
export RANLIB_BLRTS=$BLRTS_PATH/bin/ranlib
export BGSYS_LIB_PATH=/bgl/BlueLight/V1R3M2_140_2007-070424/ppc/bglsys/lib
